{% extends "layout.html" %}

{% block content %}

<h3>Talk to us!</h3>
    
    {% if form %}
    
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.name.label }}<br>
        {{ form.name() }}<br>
        
        {{ form.email.label }}<br>
        {{ form.email() }}<br>
        
        {{ form.phone_number.label }}<br>
        {{ form.phone_number() }}<br>
        
        {{ form.feedback.label }}<br>
        {{ form.feedback() }}<br>
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    
    {% endif %}
    
{% endblock %}
