<html>
<head>
  <title>Talk to us!</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/milligram.css') }}">

</head>

<body>
  <header>
    <div class="container">
      <h1 class="logo">Talk to us!</h1>
      <nav>
        <ul class="menu">
          
        </ul>
      </nav>
    </div>
  </header>
  
  {% block content %}

  {% endblock %}

  </div>
</body>
</html>
